Flask==3.1.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
SQLAlchemy==2.0.45
flask-cors
psycopg2-binary==2.9.11
gunicorn==23.0.0
python-dotenv==1.2.1
PyJWT==2.10.1
alembic==1.17.2
click==8.3.1
itsdangerous==2.2.0
Jinja2==3.1.6
Werkzeug==3.1.4
